/* Global Styles */
.alert {
  margin: 10px 0 5px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Groups Selector */
#group-selector, #param-selector {
  margin-top: 30px;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
  margin-top: 10px;
}

/* Select Styles */
select{
  max-width: 300px;
}

/* Diagramm Styles*/
#chartdiv {
    width       : 100%;
    height      : 400px;
    font-size   : 11px;
}

/* Link Parameters */
#link-param, #name-region {
  margin-top: 20px;
}

.name-region {
  margin-top: 35px;
}

#link-param li {
  margin-top: 55px;
  margin: 5px;
}

