{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Построение графиков по областям Украины{% endblock meta_title %}

{% block title %}
    {% if current_group %}
        Показатели по области {{ current_group.region }}
    {% else%}
        Выберите нужную область
    {% endif %}
{% endblock title %}

{% block content %}
    
    {% csrf_token %}

    <!-- Start subheader -->
    {# Generate a list of Groups #}
    <div class="col-xs-3" id="group-selector">
        <select class="form-control">
            <option value="">Области Украины</option>
            {% for group in GROUPS %}
                <option value="{{ group.id }}"{% if group.selected %}selected="1"{% endif %}>{{ group.region }}</option>
            {% endfor %}
        </select>
    </div>
    {# Generate a list of Parameters #}
    <div class="col-xs-3" id="param-selector">
        <select class="form-control">
            <option value="">Параметры</option>
            {% for parameter in PARAMETERS %}
                <option value="{{ parameter.id }}"{% if parameter.selected %}selected="1"{% endif %}>{{ parameter.name }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- End subheader -->

    <!-- Start Diagramm -->
    <div class="col-xs-12">
        {% if current_group %}
            {% for parameter in PARAMETERS %}
                {% if parameter.selected %}
                    <h4 id="test" class="text-center">{{ parameter.name }}</h4>
                    <p id="ajax-progress-indicator" class="text-center">Диаграмма загружается...</p>
                    <div class="col-xs-12" id="chartdiv"
                    data-group-id="{{ current_group.id }}"
                    data-param-id="{{ parameter.id }}"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <!-- End Diagramm -->

{% endblock content %}
