{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Построение графиков по областям Украины{% endblock meta_title %}

{% block title %}
    {% if CURRENT_GROUP %}
        Показатели по области {{ CURRENT_GROUP.region }}
    {% else%}
        Выберите нужную область
    {% endif %}
{% endblock title %}

{% block content %}

    <!-- Start subheader -->
    {# Generate a list of Groups #}
    <div class="col-xs-3" id="group-selector">
        <select class="form-control">
            <option value="">Области Украины</option>
            {% for group in GROUPS %}
                <option value="{{ group.id }}"{% if group.selected %}selected="1"{% endif %}>{{ group.region }}</option>
            {% endfor %}
        </select>
    </div>
    {# Generate a list of Parameters #}
    <div class="col-xs-3" id="param-selector">
        <select class="form-control">
            <option value="">Параметры</option>
            {% for parameter in PARAMETERS %}
                <option value="{{ parameter.id }}"{% if parameter.selected %}selected="1"{% endif %}>{{ parameter.name }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- End subheader -->
    
    <!-- Start Diagramm -->
    {% if CURRENT_GROUP %}
        {% for parameter in PARAMETERS %}
            {% if parameter.selected %}
                <h4 id="test">{{ parameter.name }}</h4>
                <div class="col-xs-12" id="chartdiv"></div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- End Diagramm -->

{% endblock content %}
